.contact-content .title {
  margin-bottom: 3px;
}

.contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: auto;
  width: 1100px;
}

.contact-body {
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  height: 400px;
  justify-content: center;
  margin-bottom: 6px;
  width: 1050px;
}

.contact-content {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  height: 400px;
  width: 500px;
}

.contact-content h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 14px;
  margin-top: 10px;
}

.div-contact {
  margin-bottom: 13px;
}

.div-contact2 {
  margin-top: 20px;
}

.div-contact2 a {
  text-decoration: none;
  color: #1a0dab;
  font-weight: bold;
}

.contact-content .contacts {
  display: flex;
  flex-direction: column;
  height: 377px;
  margin-bottom: 4px;
  margin-left: 14px;
  width: 500px;
}

.contact-content .contacts p {
  margin: 0;
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 1.2rem;
}

.contacts-list span {
  font-size: 1.2rem;
}

.contacts-list {
  font-size: 1.04em;
  width: 400px;
}

.contact-map {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
  height: 380px;
  width: 488px;
}

#map {
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.7);
}

.map-text {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
}

@media (max-width: 768px) {

  .about {
    width: 348px;
  }

  .about-body {
    height: auto;
    flex-direction: column;
    width: 348px;
  }

  .about-content {
    height: auto;
    margin: 0;
    width: auto;
  }

  .about-content .title h2 {
    margin: 10px;
  }

  .contacts-list p {
    margin-left: 30px;
  }

  .about-content .contacts p {
    font-weight: bold;
    margin-top: 0px;
  }

  .contacts-list {
    font-size: 1.04em;
    width: 348px;
  }

  .about-content .contacts {
    height: 310px;
    margin-bottom: 4px;
    margin-top: 5px;
    width: 340px;
  }

  .map-text {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 9px;
    margin-left: 8px;
    padding: 0;
  }

  .about-map {
    margin-bottom: 7px;
    margin-right: 0px;
    height: 340px;
    width: 340px;
  }
}