.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: auto;
  width: 1100px;
}

.home-body {
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);
  display: flex;
  height: auto;
  justify-content: center;
  width: 1050px;
}

.home-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4px;
  height: auto;
  width: 540px;
}

.home-text {
  justify-content: center;
  display: flex;
  height: 196px;
}

.home-text p {
  width: 94%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.2;
}

.home-content h2 {
  margin-top: 13px;
  margin-bottom: 14px;
}

.home-content button {
  border: none;
  border-radius: 7px;
  background-color: #148131;
  box-shadow: 0 0 11px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  padding: 10px 18px;
}

.home-content button :hover {
  color: rgb(32, 32, 32);
  padding: 1px;
}

.home-content span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.home-movie {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 19px;
  height: 299px;
  width: 480px;
}

.home-store img {
  border-radius: 10px;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.4);
  margin-bottom: 14px;
  margin-top: 15px;
  height: 150px;
  width: 1050px;
}

.home-store img:hover {
  transform: scale(1.01);
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {

  .home {
    width: 348px;
  }

  .home-content h2 {
    margin-top: 35px;
  }

  .home-text {
    height: 210px;
  }

  .home-body {
    height: auto;
    flex-direction: column;
    width: 348px;
  }

  .home-content {
    margin: 0;
    width: auto;
  }

  .home-movie {
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
    margin: 0;
    height: 193px;
    width: 340px;
    margin-top: 34px;
    margin-bottom: 7px;
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* Proporção de aspecto de 16:9 */
    height: 0;
    overflow: hidden;
  }

  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .home-store img {
    border-radius: 10px;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.4);
    margin-top: 10px;
    height: 120px;
    width: 348px;
  }

  .home-content button {
    margin-top: 6px;
  }
}